

/*=============================
            FEATURED
===============================*/

.featured_wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    
   
   @include tablet {
       justify-content: center;
       
   } 
    @include laptop {
        justify-content: center;
    }
}
.name {
    margin: 0 1rem;
}

.featured_stripes {
    position: relative
}
.featured_text {
    width: 100%;
    position: relative;
    font-family: 'Righteous', cursive;  
    @include tablet {
        padding-top: 3rem;
    }
}


.featured_stripes .stripe{
    width: 92px;
    height:1200px;
    position: absolute;
    @include tablet {
        width: 92px;
    } 
    @include laptop {
        height: 100vh;
        top: 2% !important;
        width: 105px;
        
    }
}

.featured_number {
    font-size: 2.74em;
    right: 3rem;
    color: #a82e2e;
    line-height: 2.38rem;
    top: -3%;
    z-index: 1;
    @include tablet {
        font-size: 3.8rem;
        line-height: 5.58rem;
        top: 2%;
    }
    
    @include laptop {
        font-size: 5.5rem;
        line-height: 6rem;
        width: 100%;
        position: relative;
        top: 4%;
        left: 21%;
    }

}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f5f5f5;
    font-size: 1.15rem;
    width: 100%;
    top: 12%;
    transform: translate(8px, 175px);
    right: 1rem;
    z-index: 1;
    @include tablet {
        color: #0e1731;
        font-size: 1.73rem;
        margin-top: -8px;
    }
    @include laptop {
        // padding-top: 1rem;
        color: white;
        transform: translate(668px, 272px) !important;
        font-size: 2.5rem;
        
    }
}

.featured_logo {
    width: 61%;
    height: 61%;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    @include tablet {
        width: 50%;
        height: 50%;
        margin-left: 15rem;
        margin-top: -7rem;
    }
    
    @include laptop {
        margin-left: 55rem;
        transform: translate(127px, -90px) !important;
        width: 35%;
        height: 35%;
    }
}
.featured_first {
    background: #0e1731;
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;;
    padding: 0.5rem;
    text-align: center;
    width: 140px;
    @include tablet {
        top: -4%;
        font-size: 57px;
        padding: 1.07rem;
        left: -32rem;
        
    }
    @include laptop {
        top: -8%;
        font-size: 4.5rem;
        display: flex;
        justify-self: center;
        padding: 1.1rem;
        left: -1rem;
        transform: translate(466px, 300px) !important;
    }
}

.featured_second {
    background: #0e1731;
    color: #ffffff;
    font-size: 45px;
    text-transform: uppercase;;
    padding: 0.5rem;
    text-align: center;
    width: 80%;
    @include tablet {
        top: -6%;
        font-size: 4rem;
        letter-spacing: 0.3rem;
        margin: 0;
    
    }
    @include laptop {
        font-size: 89px;
        padding: 0px 20px;
        top: -177px;
        left: 122px;
        width: 582px;
        transform: translate(466px, 300px) !important;
        
    }
}
