
/*=============================
            HEADER FOOTER
===============================*/


.MuiToolbar-regular {
    @include mobile-landscape {
        min-height: 50px;;
    }
}

.MuiAppBar-colorPrimary {
    @include mobile-landscape {
        padding: 1px !important;
    }
}

footer {
    font-size: 12px;
    padding: 9px 0;
    text-align: center;
    color: rgb(255, 255, 255);

}

footer .img_cover{
   margin:0 auto;
   
   
}

footer .footer_discl {
    margin: 10px 0px;
}

