
/*=============================
            MATCHES HOME
===============================*/

.home_matches_wrapper {
    background: $maincolor;
    margin-top:9px;
    padding: 50px 0px;
}

.home_matches_wrapper .home_matches {
    flex-wrap: wrap;
    display: flex;
    margin-top: 60px;
}

.home_matches_wrapper .home_matches .item {
    width: 50%;
    margin: 35px 0px;
}

.home_matches_wrapper .home_matches .item .wrapper {
    padding-right:30px;
}




/*=============================
         PROMOTION
===============================*/

.promotion_wrapper {
    padding: 30px 0px 130px 0px;
}

.promotion_wrapper .promotion_animation {
    display: flex;
    padding: 80px 0px 30px 0px;
}

.promotion_wrapper .promotion_animation .left { 
    text-transform: uppercase;
    text-transform: uppercase;
    font-size: 150px;
    font-family: 'Righteous', cursive;
    flex-grow: 1;
    color:#d5ebfd;
    line-height: 135px;
}
.promotion_wrapper .promotion_animation .left span {
    display:block;
 }

.promotion_wrapper .promotion_animation .right {
    line-height: 135px;
}

.promotion_wrapper .promotion_animation .right div{
    width: 280px;
    height: 280px;
    background-size: contain !important;
}

.promotion_wrapper .enroll_wrapper {
    text-align: center;
}

.promotion_wrapper .enroll_title {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #4e4e4e;
}

.promotion_wrapper .enroll_discl {
    font-weight: 300;
    font-size: 12px;
    width: 271px;
    margin: 0 auto;
    padding: 10px 0px;
}

.promotion_wrapper .enroll_input {
    width: 330px;
    margin: 0 auto;
    padding: 10px 0px;
}

/*=============================
         THE MATCHES
===============================*/

.the_matches_container {
    margin-top: 96px;
}

.the_matches_wrapper {
    display: flex;
}

.the_matches_wrapper .left {
    flex-grow: 1;
}

.the_matches_wrapper .right {
   width:400px;
}

.league_table_wrapper {
    border-left: 1px solid #98c6e9;
}
.league_table_wrapper .title {
    padding: 22px;
    font-size: 22px;
    color: #ffffff;
    background: #98c6e9;
    border-bottom: 1px solid #01285e;
}

.the_matches_wrapper .progress {
    text-align: center;
    padding: 60px 0px;
}

